################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SICSinop.API/bin
/SICSinop.API/obj
/SICSinop.Domain/obj
/SICSinop.Infrastructure/bin
/SICSinop.Infrastructure/obj